html {
  scroll-behavior: smooth;
}

body {
  background: black;
  margin: 0;
  min-height: 100vh;
  overflow: auto;
  position: relative; 
}

#star-field {
  position: fixed;
  top: 0;
  left: 0;
  max-width: 100%;
  height: 100%;
  z-index: -1;
}

.star {
  position: absolute;
  background-color: white;
  border-radius: 50%; 
  opacity: 0.8;
}

@keyframes moveStar {
  from { transform: translate(0, 0); }
  to { transform: translate(var(--move-x), var(--move-y)); } 
}

h1 {
    color: rgb(255, 255, 255);
    text-align: center;
}
h2,h3,h4,h5,h6 {
    color: rgb(255, 255, 255);
    text-align: left;
}
p {
    color: white;
    text-align: left;

}

.vertikalni-line {
  border-left: 2px solid #ffffff;
  height: 300px;              
  margin: 0 20px;            
}

.vertikalni-line-small {
  border-left: 2px solid #ffffff;
  height: 50px;              
  margin: 0 20px;            
}

.flex-container {
  display: flex;        
  align-items: center;  
  gap: 15px;            
}

.spot-container {
  display: flex;        
  align-items: left;  
  gap: 10px;            
}

.small-line {
  display: flex;        
  align-items: center;  
  gap: 5px;            
}

.mid-bands {
  display: flex;        
  align-items: center;  
  gap: 5px;            
}

.commit-container {
  display: flex;        
  align-items: center;  
  text-align: center;  
  gap: 2px;            
}

.end-container {
  p {
    color: grey;
    text-align: center;

  }
  align-items: center;
  color: grey
}

ul {
  list-style-type: circle;
}

li::marker {
  color: white;
}

#dailyVersesWrapper {
    color: white !important;
    text-align: center;
}
  
#dailyVersesWrapper a {
    color: white !important;
    text-decoration: underl
}

.text {
  text-align: center;
}
