body {
    background-color: rgb(0, 0, 0);
    font-family: Arial, sans-serif;
}
h1 {
    color: rgb(255, 255, 255);
    text-align: center;
}
h2,h3,h4,h5,h6 {
    color: rgb(255, 255, 255);
    text-align: left;
}
p {
    color: white;
    text-align: left;

}

.vertikalni-line {
  border-left: 2px solid #ffffff;
  height: 300px;              
  margin: 0 20px;            
}

.vertikalni-line-small {
  border-left: 2px solid #ffffff;
  height: 50px;              
  margin: 0 20px;            
}

.flex-container {
  display: flex;        
  align-items: center;  
  gap: 15px;            
}